/*********
  GLOBAL
**********/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, #145277 0%, #83d0cb 100%) fixed;
  overscroll-behavior: none;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 520px;
  min-height: 600px;
  background: #161a2b;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

h1 {
  margin: 32px 0;
  color: #fff;
  font-size: 24px;
}

.complete {
  text-decoration: line-through;
  opacity: 0.5;
}

/*********
  TODO FORM
**********/
.todo-form {
  margin-bottom: 32px;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #83d0cb;
  outline: none;
  width: 320px;
  background: transparent;
  color: #fff;
}

.todo-input::placeholder {
  color: #e2e2e2;
}

.todo-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(90deg, #83d0cb 0%, #145277 100%);
  color: #fff;
  text-transform: capitalize;
}

.todo-input.edit {
  border: 2px solid #149fff;
}

.todo-button.edit {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
  padding: 16px 22px;
}

/*********
  TODO LIST
**********/
.todo-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  background: linear-gradient(90deg, #d4781a 0%, #f8997d 100%);
  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

/*********
  TODO ITEMS
**********/
.todo-row:nth-child(4n + 1) {
  background: linear-gradient(90deg, #ab2aed 0%, #b5abd1 100%);
}

.todo-row:nth-child(4n + 2) {
  background: linear-gradient(90deg, #ec458d 0%, #f7aaaa 100%);
}

.todo-row:nth-child(4n + 3) {
  background: linear-gradient(90deg, #23325f 0%, #306b76 100%);
}

/*********
  ICONS
**********/
.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
  transition: transform 1s ease;
}

.delete-icon {
  margin-right: 5px;
  color: #fff;
}

.delete-icon:active,
.edit-icon:active {
  transform: translateY(2px);
}

.edit-icon {
  color: #fff;
}
